<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patio de Juegos</title>
    <style>
        h1, p {
            text-align: center;
        }

        .container {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            gap: 1em;
            justify-content: center;
        }

        .card {
            border: 2px solid black;
            border-radius: 1em;
            height: 100px;
            width: 100px;
        }

    </style>
</head>
<body>
    <h1>¡Bienvenidx!</h1>
    {% if size == 0 %}
        <p>No hay cajitas para mostrar 😥</p>
    {% endif %}
    <div class="container">
        {% for i in range(0, size): %}
            <div class="card" style="background:{{color}};"></div>
        {% endfor %}
    </div>
</body>
</html>